@media only screen and (max-width:1200px){.text_section{margin-top:100px !important; text-align:center}

nav.nav{display:none}

nav.nav li{display:none; text-align:center}

#timer_section{display:none}

.day_1, .day_2{text-align:center}

.day_2{margin-top:20px}

.navigation_section li{text-align:center}

.arrow_but{display:none}
}

@media only screen and (max-width:992px){.navigation_section li{margin:30px auto}

.right_block span{padding:0}

.copy li{display:block}

.section_icon_circle{position:static !important}

}

@media only screen and (max-width:768px){.logo_2{float:none; margin:0 !important}

.text_section h2{margin:0 auto}

#logo_2{float:none; margin:0 !important}

#logo_1{float:none; margin:0 !important}

#trebovaniya p{margin:0px !important}
}
@media only screen and (max-width:668px){.icon_save{margin-right:0}

.owl-next{right:-8%; position:absolute; top:-7%}

.owl-prev{position:absolute; top:-6%; left:-7%}


}

@media only screen and (max-width:480px){#timerfa179d0cf9a0fc81f3db8a39be996c14{display:none}

.navigation_section li{overflow:hidden}
.last_chilld_li{display:none}

.navigation_section h2{font-size:17px}

.navigation_section li:hover{list-style-image:none}

}

@media only screen and (max-width:320px){}

@media only screen and (min-width:320px){}

@media only screen and (min-width:480px){}

@media only screen and (min-width:768px){}

@media only screen and (min-width:992px){}

 
@media only screen and (min-width:1200px){}
